[submodule "fwlist"]
	path = fwlist
	url = https://github.com/dartax009/fwlist.git
[submodule "tires"]
	path = tires
	url = https://github.com/dartax009/tires.git
[submodule "devices"]
	path = devices
	url = https://github.com/dartax009/devices.git
[submodule "twlist"]
	path = twlist
	url = https://github.com/dartax009/twlist.git
